
<ion-view view-title="Home">
    <ion-content>
        <div class="card">
          <div class="item item-divider center-item">
            Today's Drink
          </div>
          <div class="item item-text-wrap">
            <img src="img/recipes/sunrise-smoothie.jpg" class="today-recipe-img">

            <br>
            <div class="center-item">
              <h2><b>{{todaysDrinkCard.name}}</b></h2>
            </div>
            <br>
            <p>{{todaysDrinkCard.description}}</p>
            <button class="button button-energized button-block" ng-click="makeDrink()">Yes, Make me this Drink!</button>
          </div>
        </div>
    </ion-content>
</ion-view>
