
<ion-view view-title="Login">
    <ion-content>
      <div class="card login-box">
        <div class="list">
          <div class="item item-text-wrap">
            <img src="img/logo/jb-logo.png" class="login-logo">
          </div>
          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="Email">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Password">
          </label>
          <br />

          <button class="button button-block button-assertive ink" data-ink-color="#9DEAFF" data-ink-opacity="1" ng-click="login()">
            Login
          </button>
        </div>
      </div>

    </ion-content>
</ion-view>
