
<ion-view view-title="Profile">
    <ion-content>
      <div class="list">
        <a class="item">
          <b>Name: </b> Walter White
        </a>
        <a class="item">
          <b>Age: </b> 42
        </a>
        <a class="item">
          <b>Gender: </b> Male
        </a>
        <a class="item">
          <b>Height: </b> 160cm
        </a>
        <a class="item">
          <b>Weight: </b> 140kg
        </a>
        <div class="item item-divider">
          Health Conditions
        </div>
        <a class="item">
          Diabetes
        </a>
        <a class="item">
          Hypertension
        </a>
        <div class="item item-divider">
          Nutrition
        </div>
        <a class="item">
          <b>BMI: </b> 18.5
        </a>
        <a class="item">
          <b>Drinks: </b>24
        </a>
        <a class="item">
          <b>Missed: </b> 5
        </a>
        </a>
      </div>
    </ion-content>
</ion-view>
