
<ion-view view-title="Recipe">
    <ion-content>
        <div class="card">
          <div class="item item-divider center-item">
            You selected this drink!
          </div>
          <div class="item item-text-wrap">
            <div class="center-item">
              <img src="{{recipe.attributes.avatar}}" class="today-recipe-img">
            </div>

            <br>
            <div class="center-item">
              <h2><b>{{recipe.attributes.name}}</b></h2>
            </div>
            <br>
            <p>{{recipe.attributes.description}}</p>
            <button class="button button-energized button-block" ng-click="makeDrink()">Make me this Drink!</button>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
              <i class="icon ion-heart"></i> Likes ({{ recipe.attributes.likes }})
            </a>
            <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="showComment()">
              <i class="icon ion-chatbox"></i> Comments ({{ comments.length }})
            </a>
            <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" >
              <i class="icon ion-share"></i> Share
            </a>
          </div>
        </div>

        <div class="card" ng-show="isCommentSection">
          <div class="list">
            <div class="item item-divider">
              Comments and Reviews
            </div>
            <ion-item class="item recipe-list item-avatar comment-section" ng-repeat="comment in comments">
              <img src={{comment.user.avatar}}>
              <h2>{{comment.user.name}}</h2>
              <p>{{comment.comment}}</p>
              <p class="footer-comment-item">{{comment.date}}</p>
              <p class="footer-comment-item"><i class="icon ion-heart"></i> Like ({{comment.likes}})</p>
            </ion-item>
            <ion-item class="item item-input-inset">
              <label class="item item-input-wrapper">
                <input type="text" placeholder="Write A Comment" ng-model="commentModel.comment" required>
              </label>
              <button class="button button-small button-balanced" ng-click="sendComment()">Send</button>
            </ion-item>
          </div>
        </div>

    </ion-content>
</ion-view>
